@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@900&family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
$BackgroundColor: #ffffff;

$SecondaryColor: #a8dadc;
$ThirdColor: #457b9d;
$PrimaryTextColor: rgb(100, 99, 105);
$SecondaryTextColor: rgba(30, 183, 197, 0.808);
$PrimaryFontSize: 1rem;
$PrimaryFontStyle: 'Inter', sans-serif;
$SecondaryFontStyle: 'Montserrat Alternates';