@import './_variables';
$headerFontSize:1.6rem;

.home-background {
    display: flex;
    // order: 2;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // text-align: center;
    // height: 100vh;
    margin-top: 1rem;
    // background-image: url("/homepage-bg-test.jpg");
    // flex-direction: column;
    .home-background-headings {
        max-width: 550px;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        height: 100vh;
        padding: 0rem 0.7rem;
        margin: 0 0.7rem;
        margin-top: 1.5rem;
        h2, h4{
            padding: 0.3rem 0rem;
        }
        h2 {
            color: black;
            font-weight: 900;
            font-size: $headerFontSize;
            text-justify: inter-word;
        }
        
        h4 {
            font-family: $SecondaryFontStyle;
            max-width: 500px;
            color: $PrimaryTextColor;
            font-weight: 400;
            margin-bottom: 1.2rem;
            font-size: $headerFontSize * 0.7;
        }
        textarea {
            max-width: 13rem;
            border: black;
            resize: none;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            height: 2rem;
            overflow: hidden;
            outline: none;
            transition: border 0.2s;
            -webkit-transition: border 0.2s;
            -moz-transition: border 0.2s;
            -o-transition: border 0.2s;
            border: solid 1px $SecondaryTextColor
        }
        textarea:focus{
            border: solid 3px $SecondaryTextColor;	
        }
    }
    
    
    .home-background-image {
        height: 100%;
        width: 100%;
        // margin-top: -100px;
        // background: url("/test-bg.jpg");
        // height: 100vh;        
        // background-size: cover;
        // background-position: 50% 50%;
        // background-position: bottom;
    }
}

.home-background-image-container {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: -100px;
}

.home-background-enter-button-div {
    display: flex;
    justify-content: center;
    align-items: center;

    .home-background-enter-button {
        display: flex;
        justify-content: center;
        background-color: $SecondaryTextColor;
        border: none;
        border-radius: 5px;
        width: 80px;
    }
}

@media screen and (min-width: 1000px) { // updated from 550px
    .home-background {
        flex-direction: row;
        .home-background-headings {
            // padding: 0rem 0.7rem;
            // margin: 0 0.7rem;
            // margin-top: 1.5rem;
            h2, h4{
                padding: 0.3rem 0rem;
            }
            h2 {
                font-size: 3rem;
            }
        
            h4 {
                margin-bottom: 1.2rem;
                font-size: 1.5rem;
            }
        }
    }
}

@media screen and (min-width: 1000px) { // updated from 550px
        .home-background-image-container {
        width: 15%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        margin-left: 100px;
        margin-top: 100px;
    }
}