@import './variables';

.background{
    background-image: url("/homepage-bg-test.jpg");
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headings{
    text-align: center;
    h2 {
        color: black;
        font-weight: 900;
        font-size: 2.5rem;
        text-justify: inter-word;
    }

    h4 {
        font-family: $SecondaryFontStyle;
        color: $PrimaryTextColor;
        font-weight: 400;
        margin-bottom: 1.5rem;
    }

    textarea{
        border: black;
        resize: none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        height: 2rem;
        overflow: hidden;
        outline: none;
        transition: border 0.5s;
	    -webkit-transition: border 0.5s;
	    -moz-transition: border 0.5s;
	    -o-transition: border 0.5s;
	    border: solid 1px $SecondaryTextColor
    }
    textarea:focus{
        border: solid 3px $SecondaryTextColor;	
    }
    
}