@import './variables';

.home-background {
    display: flex;
    // order: 2;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // text-align: center;
    // height: 100vh;
    margin-top: 1rem;
    // background-image: url("/homepage-bg-test.jpg");
    // flex-direction: column;
    .home-background-headings{
        max-width: 550px;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        height: 100vh;
        h2 {
            color: black;
            font-weight: 900;
            font-size: 2.5rem;
            text-justify: inter-word;
        }
    
        h4 {
            font-family: $SecondaryFontStyle;
            max-width: 500px;
            color: $PrimaryTextColor;
            font-weight: 400;
            margin-bottom: 1.5rem;
        }
    
        textarea {
            max-width: 13rem;
            border: black;
            resize: none;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            height: 2rem;
            overflow: hidden;
            outline: none;
            transition: border 0.5s;
            -webkit-transition: border 0.5s;
            -moz-transition: border 0.5s;
            -o-transition: border 0.5s;
            border: solid 1px $SecondaryTextColor
        }
        textarea:focus{
            border: solid 3px $SecondaryTextColor;	
        }
    }

    .home-background-image {
        height: 100%;
        width: 100%;
        margin-top: -100px;
        // background: url("/test-bg.jpg");
        // height: 100vh;        
        // background-size: cover;
        // background-position: 50% 50%;
        // background-position: bottom;
    }
}


.home-background-enter-button-div {
    display: flex;
    justify-content: center;
    align-items: center;

    .home-background-enter-button {
        display: flex;
        justify-content: center;
        background-color: $SecondaryTextColor;
        border: none;
        border-radius: 5px;
        width: 80px;
    }
}