.meetingPastContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.headline {
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 20px;
}

.meetingPastCard{
    background-color: #F8F8F8;
    border-radius: 40px;
    padding: 20px;
    margin: 50px 20px 5px;
    width: 250px;
    height: 200px;
}

.viewButton {
    display: flex;
    justify-content: flex-end;
}

.viewButtonBlue{
    background-color: #0275B1;
    border-radius: 20px;
}

.calendarIcon{
    width: 80px;
}

.fa-calendar-alt{
    color: #000000;
}