@import '../component/_variables.scss';

.meeting-live-header {
    font-family: $SecondaryFontStyle;
    font-weight: bold;
    color: $PrimaryTextColor;
    display: flex;
    justify-content: left;
    padding: 30px 0px 0px 25px ;
}

.meeting-live-edit-btn{
    border: none;
    background-color: inherit;
}

.meeting-live-del-btn{
    border: none;
    background-color: inherit;
}

.meeting-live-container{
    justify-content: center;
}

.meeting-live-card{
    justify-content: center;
    background-color: $SecondaryTextColor;
    border: none;
    border-radius: 10px;
    box-shadow: 0 8px 6px -3px #e5e3e3;
    padding: 20px;
    margin: 25px;
    &:hover {
        transform: translate(0,-3px);
        box-shadow: 0px 32px 25px -15px #e5e3e3;
    }
}

.meeting-live-content{
    display: flex;
    flex-direction: row;
    .meeting-live-content-left{
        flex: 1;
        padding-right: 10px;
    }
    .meeting-live-content-right{
        flex: 3;
    }
    .fa-video{
    // color: #0D3A83;
    color: #ffffff;
    // font-size: 40px;
    display: flex;
    justify-content: center;
    }
    .meeting-live-content-right-name{ // THIS
        font-weight: bold;
        font-size: 20px;
    }
}

.meeting-live-join-btn {
    display: flex;
    justify-content: flex-end;
    // margin-top: 20px;
}

.meeting-live-join-btn-green{
    background-color: $ThirdTextColor;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    width: 100px;
    // align-items: center;
    // height: 30px;
}

#meeting-delete{
    // width: 100px;
    color: black;
    // justify-content: space-between;;
    margin: -15px 0px 0px -5px;
}

#meeting-edit{
    color: black;
    margin: -15px 0px 0px -5px;
}

.meeting-due-function-btn {
    margin: -10px -20px 20px -20px;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 0px 20px;
}

.meeting-live-content-input{
    display: flex;
    flex-direction: row;
    .meeting-live-content-field {
        flex: 1.5;
        padding-right: 5px;
    }
    .meeting-live-content-answer {
        flex: 3;
    }
}

@media screen and (min-width: 500px){
        .meeting-live-icon{
            width: 100px;
            .fa-video{
            // color: #0D3A83;
            color: #ffffff;
            }
        }
}