@import '../component/_variables.scss';

.meeting-past-container-outer {
    background-color: #F8F8F8;
    opacity: 0.6;
    width: 100%;
    height: 100%;
}

.meeting-past-card {
    justify-content: center;
    background-color: #F8F8F8;
    border: 0.5px $PrimaryTextColor solid;
    border-radius: 10px;
    font-size: 14px;
    padding: 15px 15px 15px 15px; 
    margin: 15px 20px 15px 20px;
    width: 100%;;
    button{
        &:focus{
            outline: none;
        }
    }
}

.meeting-past-container {
    // justify-content: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 25px 0px 25px;
}

.meeting-past-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    .meeting-past-content-left {
    flex: 3.5;
    // padding-right: 10px;
    }
    .meeting-past-content-right {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
    .fa-calendar-alt {
    color: #000000;
    font-size: 35px;
    }
    .meeting-past-content-left-name {
        font-weight: bold;
        font-size: 16px;
    }
}

.meeting-past-header {
    font-family: $SecondaryFontStyle;
    font-weight: bold;
    color: $PrimaryTextColor;
    display: flex;
    justify-content: left;
    padding: 30px 0px 0px 25px ;
}

.meeting-live-view-btn {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

// .meetingPast-content{
//     display: flex;
//     flex-wrap: wrap;
//     margin-top: -10px;
// }

// .meeting-past-view {
//     display: flex;
//     justify-content: flex-end;
//     i {
//         margin-right: 0.5rem;
//         margin-bottom: 1.5rem;
//     }
//     .meeting-past-content-right {
//         // background-color: #0275B1;
//         background-color: $PrimaryTextColor;
//         border: none;
//         border-radius: 5px;
//         // width: 80px;
//     }
// }

.meeting-function-btn {
    margin: -10px -20px 10px -20px;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px 0px 20px;
}
// .meeting-past-content-right {
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-end;
// }

// .calendarIcon {
//     display: flex;
//     justify-content: flex-end;
// }


.meeting-past-content-input{
    display: flex;
    flex-direction: row;
    .meeting-past-content-field {
        flex: 1.5;
        padding-right: 5px;
        padding-top: 8px;
    }
    .meeting-past-content-answer {
        flex: 3;
        padding-top: 8px;
    }
}

// .delete-meeting-past-popup{
//     background-color: $SecondaryTextColor;
// }

.delete-meeting-past-header{
    text-align: center;
}

.delete-meeting-past-body{
    display: flex;
    justify-content: center;
    padding: 10px 20px 10px 20px;
}

.delete-meeting-past-function-btn{
    display: flex;
    justify-content: center;
}

.delete-meeting-past-delete-btn {
    background-color: rgb(245, 101, 102); // pink
    border-radius: 5px;
    margin-right: 5px;
}

.delete-meeting-past-go-back-btn{
    background-color: $PrimaryTextColor;
    border-radius: 5px;
    // width: 180px;
}

@media screen and (min-width: 1000px){ // iPad
    .meeting-past-container {
        justify-content: space-between;

        .meeting-past-card {
            margin: 20px 20px 0px 2px;
            width: 44%;
        }
        .fa-calendar-alt {
            color: #000000;
            font-size: 40px;
        }
    }
}