@import '../component/_variables.scss';

.meetingPast {
    background-color: #F8F8F8;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
}

.meetingPast-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -10px;
}

.headline {
    font-family: $SecondaryFontStyle;
    color: $PrimaryTextColor;
    display: flex;
    justify-content: left;
    padding: 20px;
}

.meetingPastCard{
    background-color: #F8F8F8;
    font-size: 14px;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    width: 240px;
}

.viewButtonBlue{
    // background-color: #0275B1;
    background-color: $PrimaryTextColor;
    border: none;
    border-radius: 5px;
    // width: 80px;
}

.past-icon {
    display: flex;
    justify-content: flex-end;
    i {
        margin-right: 0.5rem;
        margin-bottom: 1.5rem;
    }
}

.fa-calendar-alt{
    color: #000000;
}

.calendarIconDiv{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.calendarIcon {
    display: flex;
    justify-content: flex-end;
}