@import '../component/_variables.scss';

.headline {
    font-family: $SecondaryFontStyle;
    text-align: right;
    display: flex;
    justify-content: left;
    padding: 20px;
}

.meeting-live-btn{
    border: none;
    background-color: inherit;
}

.meetingLiveCard{
    background-color: $SecondaryTextColor;
    border: none;
    border-radius: 10px;
    box-shadow: 0 8px 6px -3px #e5e3e3;
    padding: 20px;
    margin: 0px 50px 20px 10px;
}

.meetingLiveCard:hover {
    transform: translate(0,-3px);
    box-shadow: 0px 32px 25px -15px #e5e3e3;
}

.joinButton {
    display: flex;
    justify-content: flex-end;
}

.joinButtonGreen{
    background-color: $ThirdTextColor;
    border: none;
    border-radius: 5px;
    width: 100px;
}

.liveIcon{
    width: 100px;
}

.fa-video{
    // color: #0D3A83;
    color: #ffffff;
}

#meeting-delete{
    // width: 100px;
    color: black;
    // justify-content: space-between;;
    margin: -15px 0px 0px 20px;
}

.meeting-relative-time{
    margin: -20px 0px 20px -20px;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    // padding:10px,10px,10px,10px
}