@import './variables';

.modal-header {
    padding: 15px 10px 0px 30px;
}

.meetings-container {
    display: flex;
    flex-direction: column;
    padding: 20px 40px 0px 40px;
    margin-top: 20px;
    padding: 20px 0px 0px 0px;
    // height: 100vw;
    .meeting-container-meeting-live {
        flex: 1;
    }
    .meeting-container-meeting-past {
        flex: 1;
    }
}

.h4 {
    font-family: $SecondaryFontStyle;
    color: $PrimaryTextColor;
    // content: '';
    // border-left: rgba(30, 183, 197, 0.808) 5px solid;
    // position: relative;
    // left: -1rem;
}

.create-meeting-btn {
    // background-color: rgba(30, 183, 197, 0.6); // light blue
    background-color: rgb(245, 101, 102); // pink
    font-family: $PrimaryFontStyle;
    font-size: 12px;
    position: fixed;
    top: 60px;
    right: 30px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    z-index: 10;
}

.create-meeting-popup {
    background-color: $SecondaryTextColor;
    // padding: 0px;
}

.create-meeting-header {
    text-align: center;
}

.create-meeting-body {
    display: flex;
    justify-content: center;
    padding: 10px 20px 10px 20px;
}

@media screen and (min-width: 500px) {
    .create-meeting-btn {
        // background-color: rgba(30, 183, 197, 0.6); // light blue
        font-size: 16px;
        top: 60px;
        width: 100px;
        height: 100px;
    }
}

@media screen and (min-width: 600px) {
    .meetings-container {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        padding: 20px 40px 0px 40px;
        // height: 100vw;
        .meeting-container-meeting-live {
            flex: 1;
        }
        .meeting-container-meeting-past {
            flex: 1;
        }
    }
}