@import './variables';

.modal-header{
    padding: 15px 10px 0px 30px;
}

.Container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    height: 100vw;
}

.h4 {
    font-family: $SecondaryFontStyle;
    color: $PrimaryTextColor;
    // content: '';
    // border-left: rgba(30, 183, 197, 0.808) 5px solid;
    // position: relative;
    // left: -1rem;
}
  
// .Container > div {
//     flex: 1;
// }

.create-meeting-btn{
    // background-color: rgba(30, 183, 197, 0.6); // light blue
    background-color: rgb(245, 101, 102); // pink
    font-family: $PrimaryFontStyle;
    position: fixed;
    top: 80px;
    right: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    z-index: 10;
}

.popup {
    background-color: $SecondaryTextColor;
}