@import '../component/_variables.scss';

.headline {
    font-family: $SecondaryFontStyle;
    text-align: right;
    display: flex;
    justify-content: left;
    padding: 20px;
}

.meetingLiveCard{
    background-color: $SecondaryTextColor;
    border: none;
    border-radius: 10px;
    box-shadow: 0 8px 6px -3px #e5e3e3;
    padding: 20px;
    margin: 0px 50px 20px 10px;
}

.meetingLiveCard:hover {
    transform: translate(0,-3px);
    box-shadow: 0px 32px 25px -15px #e5e3e3;
}

.joinButton {
    display: flex;
    justify-content: flex-end;
}

.joinButtonGreen{
    background-color: $ThirdTextColor;
    border: none;
    border-radius: 5px;
    width: 100px;
}

.liveIcon{
    width: 100px;
}

.fa-video{
    // color: #0D3A83;
    color: #ffffff;
}