@import './_variables';

.message-box {
  position: fixed;
  top: 60px;
  left: -600px;
  transition: transform 0.9s ease;
  z-index: 99999;
  background-color: #8ad4dc;
  background-color: rgba(30, 183, 197, 0.4);
  box-shadow: 0px 2px 3px 2px #ccc;
  max-width: 600px;
  border-radius: 5px;
  // border: solid 1px black;
  word-wrap: normal;
}

.message-active {
  transform: translateX(650px);
}

@media only screen and (max-width:1024px){
  .message-box{
    font-size: 0.8rem;
    max-width:80vw; 
    box-shadow: 0px 1px 2px 1px #ccc;
  }
  .message-active {
    transform: translate(625px);
  }
}
