.message-box {
  position: fixed;
  top: 20px;
  left: -600px;
  transition: transform 0.9s ease;
  z-index: 99999;
  background-color: #fff;
  max-width: 600px;
  border-radius: 15px;
  border: solid 1px #5dc5d0;
  word-wrap: normal;
}

.message-active {
  transform: translateX(650px);
}

