@import './variables';

.main-navbar-nav-move{
    transform:translateX(-200px);
  
}
a:hover{
    text-decoration: none;
}
#logo-text{
    font-family: $SecondaryFontStyle;
    color: $SecondaryTextColor;
    font-size: 1.5rem;
    margin-left:1rem;
    margin-right: 1rem;
    min-width: 200px;;
    z-index: 1500;
}
.main-nav-bar-logo-big{
    transform: scale(2);
    transition: transform 250ms ease-out;
    padding-top: 8px;
    padding-right: 5px;
}
.main-nav-bar-logo-small{
    transform: scale(1.2);
    padding-top: 8px;
    transition: transform 250ms ease-out;
}

.main-navbar-nav::before{
    content: "";
    background-color: $BackgroundColor;
    width: 100vw;
    height: 48px;
    position: fixed;
    top: 0;
    left: 0;
    z-index:-1;
    -webkit-box-shadow: 10px 14px 11px -13px rgba(173,173,173,0.71);
    -moz-box-shadow: 10px 14px 11px -13px rgba(173,173,173,0.71);
    box-shadow: 10px 14px 11px -13px rgba(173,173,173,0.71);
    opacity: 0.99;
}
.main-nav-popover{
    z-index: 1501;
}
.main-navbar-nav{
    transition: all 0.2s;
    // padding-top: 1rem;
    top: 0;
    position: fixed;
    width: 100%;
    // height: 100vh;
    z-index:1500;
    .humbugger-toggler{
        margin-top: 0.6rem;
        position: absolute;
        right: 3rem;
        font-size: 1.5rem;
        color: $SecondaryTextColor;
        cursor: pointer;
        z-index: 1500;
        &:hover{
            background: linear-gradient(to top, rgb(166, 185, 187), $SecondaryTextColor);
            -webkit-background-clip: text;
            color: transparent;
        }
    }
    a{
        align-self: center;
    }
    img{
        border-radius: 2rem;
        height: 2.5rem;
        margin: auto;
        margin-bottom: 0.5rem;
        vertical-align: middle;
        z-index: 1500;
    }
    .main-navbar-nav-personal-icon{
        border-radius: 2rem;
        height: 2rem;
        margin: auto;
        margin-bottom: 0.5rem;
        vertical-align: middle;
        margin: 0.5rem 0.25rem 0.25rem;
        // position: absolute;
        // left: 31%;
    }
    .main-navbar-nav-guest-icon{
        border-radius: 2rem;
        height: 2rem;
        margin: auto;
        margin-bottom: 0.5rem;
        vertical-align: middle;
        margin: 0.5rem 0.25rem 0.25rem;
        // position: absolute;
        // left: 31%;
    }
    .main-navbar-ul{
        display: none;
        z-index: 1500;
        padding-left: 0;
        padding-top: 8px;
        list-style: none;
        width: 200px;
        // height: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        // background-color: #16162d;
        border-bottom-right-radius: 100%;
        border-bottom-left-radius: 100%;    
        font-size: 1.2rem;
        position: absolute;
        right: -100vw;
        top:0;
        right:-200px;
        // transform: translateX(200%);
        // transition: transform 200ms ease-in-out;

        // padding: 1rem 1rem;
        
        
        .main-navbar-item{
            padding: 1rem 1rem;
            margin: 0 1rem;
            font-weight: 500;
            width: 100%;
            text-align: center;
            // background-color: rgb(52, 59, 63);
            a{
                text-decoration: none;
                color: rgb(111, 111, 111);
                &:hover{
                    color: $SecondaryTextColor;
                }
            }
            
            .main-navbar-nav-link{
                display: block;
                width: 100%;
                text-decoration: none;
                color: rgb(113, 116, 116);
                &:hover{
                    color: $SecondaryTextColor;
                }
                transition: none;
            }
            .activeLink{
                color: $SecondaryTextColor;
            }
            // &:hover{
            //     background-color: rgb(75, 83, 88);
            // }
            .logout-button{
                border: none;
                background-color: inherit;
                font-size: inherit;
                font-weight: inherit;
                display: block;
                width: 100%;
                color: rgb(96, 108, 108);
                font-weight: 800;
                padding-top: 8px;
                // background-color: $SecondaryTextColor;
                text-align: center;
                &:hover{
                    color: $SecondaryTextColor;
                }

                
            }
            // a:hover,.logout-button:hover{
            //     color: $SecondaryTextColor;
            //     border-bottom: 1px solid $SecondaryTextColor;
            // }
        }
        .main-navbar-item:last-child{
            // background-color: rgba(30, 183, 197, 0.56);
            // display: flex;
        }
        
    }
    .mainNavBarOpen{
        // right: 0%;
        display: flex;
        // background-color: rgb(225, 228, 228);
        background-color: #F4F4F4;
        transition: all 200ms ease-in-out;

        // height: 100vh;
        // transform: translateX(0);
        
        border-radius: initial;
        
    }
}
// .setZIndex{
//     z-index: 0;
// }

@media screen and (min-width: 730px){
    
    .main-navbar-nav{
        .mainNavBarOpen{
            // right: 0%;
            background-color: inherit;
            height: initial;
            transform: translateX(0);
            
            border-radius: initial;
            
        }
        
        display: flex;
        height: 48px;
        .humbugger-toggler{
            display: none;
        }
        .main-navbar-ul{
            display: flex;
            height: initial;
            top:0;
            flex-direction: row;
            right: 0%;
            transition: none;
            position: relative;
            transform: translateX(0%);
            transition-property: none !important;
            width:100%;
            // margin: 0;
            // justify-content: flex-start;
            .main-navbar-item{
                padding: 0rem 0rem;
                margin-top: 8px;
                display: flex;
                // justify-content: flex-end;
                width: initial;
                .login-btn{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                .logout-btn{
                    // width: 20%;
                    a{
                    // display: flex;
                    // width: 60px;
                    background-color: $SecondaryTextColor;
                    border-radius: 10px;
                    padding: 1rem 1rem;
                    color: rgb(255, 255, 255);
                    }
                }
                &:last-child{
                    margin: 0;
                    margin-left: auto;
                    margin-right: 3rem;
                    right: 5rem;
                    // margin-left: 0px;
                    // margin-right: auto;
                }
            }
            


        }
    }
}
.navbar-move{
   transform: translateX(-200px);
}
.edit-name-container{
    input{
        border: none;
    }
}
    // .main-nav{
    //     background-color: $BackgroundColor;
    //     color: black;
    //     width: 100vw;
    //     height: 3rem;
    //     position: fixed;
    //     border-bottom: solid $PrimaryTextColor;
    //     border-width: thin;
    //     align-content: center;
    //     font-size: 1rem;
    //     justify-content: flex-start;
    //     z-index: 100;
        
    //     .main-nav-item:last-child{
    //         margin: auto;
    //         margin-right: 5px;
    //     }
    //     .main-nav-link{
    //         color: $PrimaryTextColor;

    //         &:hover{
    //             border-bottom: $SecondaryTextColor;
    //             border-width: 50rem;
    //             color: $SecondaryTextColor;;
    //         }
    //     }
    //     img {
    //         // border: 0.05rem solid $PrimaryTextColor;
    //         border-radius: 2rem;
    //         // height: 1.5rem;
    //         height: 2.5rem;
    //         // padding-right: 0.5rem;
    //         margin: auto;
    //         // margin-right: 0.5rem;
    //         margin-bottom: 0.5rem;
    //     }
    // }

    

// .navbar{
//     background-color: $BackgroundColor;
//     width: 100vw;
//     height: 3rem;
//     position: fixed;
//     border-bottom: solid $PrimaryTextColor;
//     border-width: thin;
//     align-content: center;
//     font-size: 1rem;
    
//     .navbar-nav{
//         list-style: none;
//         padding: 0;
//         margin: 0;
//         display: flex;
//         flex-direction: row;
//         justify-content: flex-end;
//         width: 100%;

//         .nav-item{
//             height: 100%;
//             &:first-child{
//                 margin-right: auto;
//             }
//             &:last-child{
//                 margin-right: 1rem;
//                 border-left: $PrimaryTextColor
//             }

//             .nav-link{
//                 display: flex;
//                 width: 6rem;
//                 color: $PrimaryTextColor;
//                 text-decoration: none;
//                 &:first-child{
//                     width: 10rem;
//                 }
//                 // i {
//                 //     min-width: 2rem;
//                 //     margin: 0 1.5rem;
//                 //     font-size: 1.5rem;
//                 // }
//             }

//             img {
//                 border: solid black;
//                 border-radius: 2rem;
//                 height: 1.5rem;
//                 // padding-right: 0.5rem;
//                 margin: auto;
//                 margin-right: 0.5rem;
                
//             }
//         }
//         // .nav-item:second-child {
//         //     margin-left: auto;
//         //     color: black;
//         // }
//     }

    
// }
// // .spacer{
// //     float: ;
// // }

