@import './variables';

a:hover{
    text-decoration: none;
}
#logo-text{
    font-family: $SecondaryFontStyle;
    color: $SecondaryTextColor;
    font-size: 1.5rem;
    margin-left:1rem;
    margin-right: 1rem;

}

    .nav{
        background-color: $BackgroundColor;
        color: black;
        width: 100vw;
        height: 3rem;
        position: fixed;
        border-bottom: solid $PrimaryTextColor;
        border-width: thin;
        align-content: center;
        font-size: 1rem;
        justify-content: flex-start;
        z-index: 999999;
        
        .nav-item:last-child{
            margin: auto;
            margin-right: 5px;
        }
        .nav-link{
            color: $PrimaryTextColor;

            &:hover{
                border-bottom: $SecondaryTextColor;
                border-width: 50rem;
                color: $SecondaryTextColor;;
            }
        }
        img {
            border: 0.05rem solid $PrimaryTextColor;
            border-radius: 2rem;
            height: 1.5rem;
            // padding-right: 0.5rem;
            margin: auto;
            margin-right: 0.5rem;
            
        }
    }
        
    
    

// .navbar{
//     background-color: $BackgroundColor;
//     width: 100vw;
//     height: 3rem;
//     position: fixed;
//     border-bottom: solid $PrimaryTextColor;
//     border-width: thin;
//     align-content: center;
//     font-size: 1rem;
    
//     .navbar-nav{
//         list-style: none;
//         padding: 0;
//         margin: 0;
//         display: flex;
//         flex-direction: row;
//         justify-content: flex-end;
//         width: 100%;

//         .nav-item{
//             height: 100%;
//             &:first-child{
//                 margin-right: auto;
//             }
//             &:last-child{
//                 margin-right: 1rem;
//                 border-left: $PrimaryTextColor
//             }

//             .nav-link{
//                 display: flex;
//                 width: 6rem;
//                 color: $PrimaryTextColor;
//                 text-decoration: none;
//                 &:first-child{
//                     width: 10rem;
//                 }
//                 // i {
//                 //     min-width: 2rem;
//                 //     margin: 0 1.5rem;
//                 //     font-size: 1.5rem;
//                 // }
//             }

//             img {
//                 border: solid black;
//                 border-radius: 2rem;
//                 height: 1.5rem;
//                 // padding-right: 0.5rem;
//                 margin: auto;
//                 margin-right: 0.5rem;
                
//             }
//         }
//         // .nav-item:second-child {
//         //     margin-left: auto;
//         //     color: black;
//         // }
//     }

    
// }
// // .spacer{
// //     float: ;
// // }

