$replyTextAreaMultiplier: 0.7;
%button {
  border: none;
  &:focus {
    outline: none;
  }
  background-color: rgba(0, 99, 204, 0.411);
}
%text-area {
  resize: none;
  border: 1px solid black;
}
%text-area-ninety-percent {
  height: 150px;
  @media only screen and (min-width: 1024px) {
    width: 90%;
    max-width: 1200px;
  }
  @media only screen and (max-width: 1024px) {
    width: 90%;
  }
  @media only screen and (max-width: 400px) {
    width: 90%;
  }
}
%i {
  @media only screen and (max-width: 768px) {
    font-size: 1.5rem;
  }
  @media only screen and (max-width: 576px) {
    font-size: 1rem;
  }
  @media only screen and (min-width: 1024px) {
    font-size: 1.8em;
  }
}
%is-active {
  border-bottom: 1px solid black;
  box-shadow: 2px 2px 4px 5px #ccc;
  font-weight: bold;
  @media only screen and (max-width: 576px) {
    font-weight: normal;
    box-shadow: 1px 1px 2px 2px #ccc;
  }
}
%content{
  flex: 1;
  text-align: left;
  overflow: auto;
  textarea {
    @extend %text-area;
    @extend %text-area-ninety-percent;
  }
}
%button-font-size{
  @media only screen and (max-width: 576px) {
    padding:5px;
    font-size:0.6rem;
  }
}
.question-page{
  max-width: 1800px;
}
.question-moderation {
  &.bottom-border {
    border-bottom: 1px solid #cccccc;
  }
  button {
    @extend %button;
    @extend %button-font-size;
    &.is-active {
      @extend %is-active;
      border-bottom: none;
      border-left: 1px solid black;
    }
    background-color: transparent;
  }
}
.moderate-container {
  margin-top:2rem;
  top:0px;
  transition: all 0.5s;
  img {
    max-height: 150px;
  }
  .content{
    @extend %content;
  }
}
.content-container{
background-color: #F0F0F0;
}
.question-form {
  i {
    @extend %i;
  }

  textarea {
    height:2rem;
    @extend %text-area;
    width: 100%;
    max-width: 1300px;
    min-width: 300px;
    border: none;
    transition: height 0.2s;
    &:focus{
      height: 150px;
    }
    //border-bottom: 1px solid #cccccc;
  }
}
.question-page-tab {
  @extend %button;
  @extend %button-font-size;
  @media only screen and (max-width: 576px) {
    padding:0px;
    margin:0.5rem;
  }
  &.is-active {
    @extend %is-active;
  }
}
.will-hover {
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
    @media only screen and (max-width: 576px) {
      transform: scale(1);
    }
  }
}
.util-spacing {
  padding: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  @media only screen and (max-width: 576px) {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }
}
.to-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.question {
  border: solid 1px black;
  border-radius: 5px;
  @media only screen and (max-width: 600px) {
    max-width: 90%;
  }
  .question-content-area {
    @media only screen and (max-width: 576px) {
      flex-direction: column-reverse;
    }
  }
  .content {
    @extend %content;
  }
  .util-container {
    @media only screen and (max-width: 768px) {
      flex-direction: column-reverse;
    }
  }

  .platform-icon {
    width: 5%;
    @media only screen and (max-width: 600px) {
      width: 10%;
    }
    > i {
      @media only screen and (max-width: 768px) {
        font-size: 1em;
      }
      font-size: 2em;
    }
  }

  .image-area > div {
    position: relative;
    span {
      position: absolute;
      top: 0px;
      right: -1.3rem;
    }
  }

  .new-reply-area {
    .reply-body {
      @media only screen and (max-width: 576px) {
        flex-wrap: wrap;
      }
    }
    textarea {
      @extend %text-area;
      @media only screen and (min-width: 1024px) {
        width: 85%;
        max-width: 1000px;
        height: 150px * $replyTextAreaMultiplier;
      }
      @media only screen and (max-width: 1024px) {
        width: 80%;
        height: 150px * $replyTextAreaMultiplier;
      }
      @media only screen and (max-width: 400px) {
        width: 85%;
        height: 150px * $replyTextAreaMultiplier;
      }
    }
  }
  i {
    @extend %i;
  }
  .reply {
    text-align: left;
    border-top: solid rgba(109, 233, 192, 0.788) 1px;
    i {
      @media only screen and (max-width: 768px) {
        font-size: 1.5rem * $replyTextAreaMultiplier;
      }
      @media only screen and (max-width: 576px) {
        font-size: 1.5rem * $replyTextAreaMultiplier;
      }
      @media only screen and (min-width: 1024px) {
        font-size: 1.8em * $replyTextAreaMultiplier;
      }
    }
    textarea {
      @extend %text-area;
      @media only screen and (min-width: 1024px) {
        width: 85%;
        max-width: 1000px;
        height: 150px * $replyTextAreaMultiplier;
      }
      @media only screen and (max-width: 1024px) {
        width: 85%;
        height: 150px * $replyTextAreaMultiplier;
      }
      @media only screen and (max-width: 400px) {
        width: 85%;
        height: 150px * $replyTextAreaMultiplier;
        min-width: 200px;
      }
    }
  }
}
