.sticky-container-top {
  position: sticky;
  top: 50px;
  z-index: 200;
}

.report-button-container {
  button {
    border: none;
    border-radius: 15px !important;
    width:205px;
    &:focus {
      outline: none;
    }
    @media only screen and (max-width: 576px) {
      padding: 5px;
      font-size: 0.6rem;
    }
    @media only screen and (max-width: 576px) {
      padding: 0px;
      margin: 0.5rem;
      width: 120px;
      font-size: 0.8rem;
    }
    &.is-active {
      box-shadow: 2px 2px 4px 5px #ccc;
      font-weight: bold;
      @media only screen and (max-width: 576px) {
        font-weight: normal;
        box-shadow: 1px 1px 2px 2px #ccc;
      }
    }
    background-color: rgba(30, 183, 197, 0.6); //changed
  }
}
