@import './variables';

// .report-container {
//     .report-peak-view-outer{
//         flex:1;
        
//     }
//     .views-chart-outer{
//         flex:3;
//         max-width: 1024px;
//     }
//     @media (max-width: 768px) {
//         display: flex;
//         flex-wrap: wrap;
//     }
//     .questions-from-chart-outer, .questions-pie-chart-outer, .question-likes-rank-outer{
//         flex: 1;
//     }
// }
.report-header::before{
    content: '';
    border-left: rgba(30, 183, 197, 0.808) 4.5px solid;
    border-radius: 19px;
    position: relative;
    left: -1.3rem;
}
.report-header{
    font-weight: $ChartHeaderWeight;
    font-size: $ChartHeaderFontSize;
    
}
.report-container{
    margin: 0;
    margin-top: 2.8rem;
    height: 100%;
    width: 100%;
    background-color: #efefef;
}
.report-peak-view-outer, .views-chart-outer, .questions-from-chart-outer, .questions-pie-chart-outer, .question-likes-rank-outer, .question-likes-rank-outer, .report-total-questions-outer{
    margin: 0.8rem 0.8rem;
    padding: 1rem 1.2rem;
    background-color: #fff;
    border-radius: 15px;
    min-width: 0px;
}
.views-chart-outer,.questions-from-chart-outer, .questions-pie-chart-outer{
    height: 500px;
    min-width: 0px;
}

.views-chart-outer{
    height: 500px;
    padding-bottom: 3rem;
    min-width: 0px;

}

@media screen and (min-width: 800px){
    .report-snap-container{
        display: flex;
        .report-peak-view-outer, .report-total-questions-outer{
            flex:1;
        }
    }
        
}
@media screen and (min-width: 1350px){
    .report-desktop-first-row{
        display: flex;
        .report-snap-container{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 2;
            .report-peak-view-outer, .report-total-questions-outer{
                flex:1;
            }
        }
        .views-chart-outer{
            flex: 5;
        }
    }

    .report-desktop-second-row{
        display: flex;
        .questions-from-chart-outer,.questions-pie-chart-outer,.question-likes-rank-outer{
            flex: 1;
        }
    }
        
}