@import './variables';

.report-compare-platform{
    text-align: center;
    align-items: center;
    align-content: center;
    .report-compare-platform-items{
        display: flex;
        margin: 1rem 0.8rem;
        margin-bottom: 1rem;
    }

    .report-compare-platform-icon{
        width: 10%;
        height: 10%;
        flex: 1;
        img{
            max-width: 35px;
        }
    }
    .report-compare-platform-views{
        flex: 1;
        line-height: 100%;
        display: flex; 
        justify-content: center; 
        align-items: center;
        .currentViews{
            
        }
    }
    .report-compare-platform-compare{
        flex: 2;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .increase, .decrease, .increase-percent, .decrease-percent{
            display: inline-block;
            padding: 5px;
        }
        .increase, .increase-percent{
            color: green;
        }
        .decrease, .decrease-percent{
            color: red;
        }
    }
}