@import './variables';
// $navSize: 1.8em;
// $speed: 300ms;
// .report-side-drawer-navbar{
    
//     z-index: 100;
//     font-weight: $ChartHeaderWeight;
//     font-size: $ChartHeaderFontSize;
//     color: $SecondaryTextColor;
//     width: 50%;
//     height: 100vh;
//     background-color: rgb(70, 70, 70);
//     position: fixed;
//     .report-side-drawer-navbar-toggle-button{
//         width:$navSize;
//         height:$navSize;
//         background-color: white;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         border-radius: 50%;
//         padding: 5px;
//         margin: 2px;
//         transition: filter 300ms;
//         cursor: pointer;
//         &:hover{
//             filter: brightness(0.95);
//         }
//         i{
//             font-size: $navSize*0.8;
//         }
//     }
//     .report-side-drawer-dropdown{
//         position: absolute;
//         top: 58px;
//         width: 300px;
//         // transform: translateX(-45%);
//         background-color: rgb(82, 38, 38);
//         // border: var(--border);
//         // border-radius: var(--border-radius);
//         padding: 1rem;
//         overflow: hidden;
//         transition: height $speed ease;
//     }
//     .menu-item {
//         height: 50px;
//         display: flex;
//         align-items: center;
//         // border-radius: var(--border-radius);
//         transition: background $speed;
//         padding: 0.5rem;
//         text-decoration: none;
//         color: blueviolet;
//       }
// }

$navSize: 1.8em;
$speed: 500ms;
.report-side-drawer-navbar-toggle-button{
    // margin: 0;
    // margin-left: 10rem;
    width:$navSize;
    height:$navSize;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 5px;
    margin-top: 0.8rem;
    margin-left: 0.6rem;
    transition: filter 300ms;
    cursor: pointer;
    color: $SecondaryTextColor;
    z-index: 100;
    position: absolute;
    top: 2.65rem;
    left: 0.3rem;
    &:hover{
        filter: brightness(0.95);
    }
    i{
        font-size: $navSize*0.8;
    }
}

.report-side-drawer-toggle-button-on{
    transform: translateX(130px) rotate(180deg);
    position: fixed;
    transition: all 250ms ease-in-out;
    z-index:101;
    
}
.report-side-drawer-toggle-button-off{
    transition: all 250ms ease-in-out
}
.report-side-drawer-navbar-container{
    position: fixed;
    z-index: 100;
    left: -100vw;
}
.report-side-drawer-header{
    position: relative;
    top: 6rem;
    z-index: 999;
    left: 2rem;
    // margin: 0.7rem 0.4rem;
    font-weight: 700;
    text-decoration: none!important;
    span{
        padding-left: 0.5rem;
    }
    .report-side-drawer-item-header{
        font-size: 1.3rem;
        font-weight: 800;
        background-color: #5EBFC8;
        padding: 0.2rem 0.5rem;
        border-radius: 15px;
        margin-left: -10px;
    }
}
.report-side-drawer-navbar{
    // overflow: hidden;
    .menu-primary-enter {
        position: absolute;
        opacity: 0;
        // z-index: 1;
      }
      .menu-primary-enter-active {
        opacity: 1;
        transition: opacity $speed linear;
      }
      .menu-primary-enter-done {
        position: absolute;
      }
      .menu-primary-exit {
        position: absolute;
        opacity: 1;       
      }
      .menu-primary-exit-active {
        opacity: 0;
        transition: opacity $speed linear;
      }
      .menu-primary-exit-done {
        // position: absolute;
        opacity: 0;
        z-index: 0;
      }

      .menu-secondary-enter {
        opacity: 0;
        // z-index: 1;
      }
      .menu-secondary-enter-active {
        opacity: 1;
        transition: opacity $speed linear;
      }
      .menu-secondary-enter-done {
        position: absolute;
      }
      .menu-secondary-exit {
        opacity: 1;   
      }
      .menu-secondary-exit-active {
        opacity: 0;
        transition: opacity $speed linear;
      }
      .menu-secondary-exit-done{
      }
      
    // z-index: -1;
    z-index: 100;
    // width: 0;
    height: 100vh;
    background-color: #F4F4F4;
    position: relative;
    -webkit-box-shadow: 10px 14px 11px -13px rgba(92,92,92,1);
    -moz-box-shadow: 10px 14px 11px -13px rgba(92,92,92,1);
    box-shadow: 10px 14px 11px -13px rgba(92,92,92,1);
    .report-side-drawer-nav{
        // left: -100vw;

        z-index: 100;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        top: 600px; //--
        // margin-top: 40px; //changed
        margin-left: -10px;
        padding-top: 50px; //changed
        .report-side-drawer-item{
            width: 80%;
            margin: 0.7rem 0;
            font-weight: 700;
            text-decoration: none!important;
            span{
                padding-left: 0.5rem;
            }
        }


    }
}
.report-side-drawer-secondary{
    position: absolute;
    top: 7rem;
    width: 100%;

}

.report-side-drawer-navbar-container-on{
    left: 0;
    width: 200px;
    z-index: 100;
    transition: all 250ms ease-in-out
}
.report-side-drawer-navbar-container-off{
    transition: all 250ms ease-in-out
}

.hover-effect-navlink{
    color: black;
    &:hover{
        background: linear-gradient(to top, rgb(166, 185, 187), $SecondaryTextColor);
        -webkit-background-clip: text;
        color: transparent;
    }    
}
