.scroll-top-background{
  position: fixed;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  pointer-events: none;
}
.scroll-top-container{
  pointer-events: visible;


}

.scroll-top-item{
  transition: all 0.5s;
  button{
    border: none;
    border-radius: 15px!important;
    &:focus {
      outline: none;
    }
    @media only screen and (max-width: 576px) {
      padding:5px;
      font-size:0.6rem;
    }
    &:not(.room-update-save){
      width: 205px;
  }
  border-radius: 15px;
  background-color: #8AD4DC;
  }
}

.scroll-top-item.show-item{
  position: relative;
  top:0px;
}
.scroll-top-item.hide-item{
  position: relative;
  top:50px;
}
