.modal-background{
    position: fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000000;
}

.yes-no-modal{
    position: fixed;
   display: flex;
    width: 100%;
   justify-content: center;  
   z-index: 1000001;
   top:0px;
   left:0px;
    .modal-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 300px;
        max-width:50%;
        background-color: white;
        opacity: 1;
        padding: 10px;
        border-radius: 25px;
        .modal-message{
           border-bottom: 1px solid #dee2e6;
        }
        @media only screen and (min-width: 768px) {
            min-width: 500px;
          }
    }
    button{
        border: none;
        border: 10px;
        &:focus{
            outline: none
        }

        &.cancel{
            background-color: rgba(128, 128, 128, 0.4);
        }
        &.confirm{
            background-color:#5DC5D0;
        }
    }

}